@mixin input {
    
}
@mixin h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 10px;
    color: $black;
}
@mixin p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-top: 20px;
    color: $blackgrey;
}
@mixin center__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    color: $blackgrey;
    margin-top: 40px;
}
@mixin three__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
@mixin input {
    background: #F7F8F9;
    border-radius: 8px;
    width: 220px;
    height: 56px;
    padding-left: 10px;
    border: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #bdbdbd;
}
@mixin inputp {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4F4F4F;
}
@mixin a {
    background: #1D1D1D;
    border-radius: 8px;
    align-items: center;
    padding: 16px 48px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 20px;
}
@mixin foot {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: #828282;
}
@mixin footh2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif;
    color: #FFFFFF;
}
@mixin foota {
    background: #1D1D1D;
    border-radius: 8px;
    align-items: center;
    padding: 16px 97px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    font-family: sans-serif;
    text-decoration: none;
    background: #FDEC57;
    position: relative;
    top: 20px;
}

@mixin breakpoint ($screen_width){
    @media only screen and (max-width: $screen_width){
        @content        
    }
}