@import '../variables';
@import '../mixin';

.center__h2{
    @include center__h2;
}
.three__items-1{
    @include three__items;
}
.three__items-1 p{
    @include p;
}
.three__items-1 h2{
    @include h2;
}
.third__item{
    position: relative;
    bottom: 20px
}
.second__three-items{
    @include three__items;
}
.second__three-items p{
    @include p;
}
.second__three-items h2{
    @include h2;
}
.center__bottom h2{
    @include center__h2;
    margin-top: 150px;
}
.center__twoo-items{
    @include p;
    margin-top: 100px;
}
.center__twoo-items p{
    @include p;
    margin-top: 10px;
}
.center__twoo-items h3{
    @include h2;
    margin-top: 20px;
}
.first__img{
    position: relative;
    bottom: 150px;
}
.second__img{
    position: relative;
    bottom: 150px;
    left: 1280px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.inputs p{
    @include inputp;
}
.inputs h2{
    @include center__h2;
    text-align: start;
}
.names{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.names p{
    width: 250px;
}
.name__inputs-2{
    margin-left: 20px;
}
.name__inputs input{
    @include input;
}
.email__messages p{
    margin-top: 20px;
}
.input1{
    width: 464px;
    height: 56px;
    background: #F7F8F9;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.input2{
    width: 464px;
    height: 120px;
    padding-left: 10px;
    padding-bottom: 80px;
    background: #F7F8F9;
    border-radius: 8px;
    border: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.first__input a{
    @include a;
    position: relative;
    top: 25px;
}
.second__input img{
    position: relative;
    top: 70px;
    right: 20px;
}
.first__input{
    position: relative;
    left: 20px;
}